In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [24]:
df = pd.read_csv("mpg.csv", na_values={'horsepower':'?'})
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [26]:
df.sort_values(by='horsepower' , axis=0,ascending=False,inplace = True)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
116,16.0,8,400.0,230.0,4278,9.5,73,1,pontiac grand prix
95,12.0,8,455.0,225.0,4951,11.0,73,1,buick electra 225 custom
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
...,...,...,...,...,...,...,...,...,...
126,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl

In [27]:
data = [go.Scatter(x=df['horsepower'],
                   y=df['mpg'],
                   text=df['name'],
                   mode='markers',
                   marker=dict(size=2*df['cylinders']))]#size都是试出来的
#notice to use go.Scatter() to creat a trace for a bubble chart
layout=go.Layout(title='Bubble Chart')
fig= go.Figure(data=data, layout=layout)
pyo.plot(fig,filename='Bubble Chart.html')

'Bubble Chart.html'

In [30]:
data = [go.Scatter(x=df['horsepower'],
                   y=df['mpg'],
                   text=df['name'],
                   mode='markers',
                   marker=dict(size=df['weight']/100))]
#use bubble size to show the weight of these vehicles
layout=go.Layout(title='Bubble Chart')
fig= go.Figure(data=data, layout=layout)
pyo.plot(fig,filename='Bubble Chart2.html')

'Bubble Chart2.html'

In [33]:
data = [go.Scatter(x=df['horsepower'],
                   y=df['mpg'],
                   text=df['name'],
                   mode='markers',
                   marker=dict(size=df['weight']/100, color=df['cylinders']))]
#add color to the bubbles to show the cylinders of these vehicles, notice this is done in markers ()
layout=go.Layout(title='Bubble Chart')
fig= go.Figure(data=data, layout=layout)
pyo.plot(fig,filename='Bubble Chart3.html')

'Bubble Chart3.html'

In [34]:
data = [go.Scatter(x=df['horsepower'],
                   y=df['mpg'],
                   text=df['name'],
                   mode='markers',
                   marker=dict(size=df['weight']/100, color=df['cylinders'],showscale=True))]
#add scale of the colors; notice this is done in markers () 
layout=go.Layout(title='Bubble Chart')
fig= go.Figure(data=data, layout=layout)
pyo.plot(fig,filename='Bubble Chart4.html')

'Bubble Chart4.html'